# Validação dos 5 clientes

Teste com 5 evadidos e 5 ativos.

In [1]:
# load dataframe cleaned
import pandas as pd

#
data_X = pd.read_csv('14052024_nova_base_3K.csv').set_index('account_xp_code')

#
cinco_evadido = data_X[data_X['evasao_pl'] == 1].copy()
cinco_evadido = cinco_evadido[cinco_evadido['ano_mes/mes'].str.contains('2024-04')].sample(5)
cinco_evadido.drop('ano_mes/mes', axis=1, inplace=True)

cinco_ativo = data_X[data_X['evasao_pl'] == 0].copy()
cinco_ativo = cinco_ativo[cinco_ativo['ano_mes/mes'].str.contains('2024-04')].sample(5)
cinco_ativo.drop('ano_mes/mes', axis=1, inplace=True)

In [2]:
cinco_evadido.index

Index([428068, 2028974, 3512051, 223499, 50935], dtype='int64', name='account_xp_code')

In [3]:
cinco_ativo.index

Index([11446828, 247312, 2439622, 12193571, 2745124], dtype='int64', name='account_xp_code')

## Predição

In [4]:
import joblib

def dataframe_prediction(database, model_path):
    """Unindo a predição ao dataset original."""
    
    dataset = database.copy()
    labels = dataset['evasao_pl']
    dataset.drop('evasao_pl', axis=1, inplace=True)
    
    modelo = joblib.load(model_path)
    predictions = modelo.predict(dataset)
    
    dataset[['0', '1']] = modelo.predict_proba(dataset)*100
    dataset['previsao'] = [x for x in predictions]
    dataset['label'] = labels
    return dataset[['0', '1', 'previsao', 'label']]

### Modelos

In [6]:
model_1 = '15052024_model_1.sav'
model_2 = '15052024_model_2.sav'
model_3 = '15052024_model_3.sav'

In [7]:
# Modelo 1 - ativo
models_ativo  = dataframe_prediction(cinco_ativo, model_1)

In [8]:
models_ativo

                     0     1  previsao  label
account_xp_code
11446828         100.0   0.0         0      0
247312            93.0   7.0         0      0
2439622          100.0   0.0         0      0
12193571         100.0   0.0         0      0
2745124           80.0  20.0         0      0

In [9]:
# Modelo 1 - evadido
models_evadido = dataframe_prediction(cinco_evadido, model_1)

In [10]:
models_evadido

                   0      1  previsao  label
account_xp_code
428068           0.0  100.0         1      1
2028974          0.0  100.0         1      1
3512051          0.0  100.0         1      1
223499           0.0  100.0         1      1
50935            0.0  100.0         1      1